name: ➡️ Pull Request

on:
  - pull_request

permissions:
  id-token: write
  contents: write
  actions: read
jobs:
  pull-request:
    name: Pull Request
    uses: rNimbus-com/ci-workflows/.github/workflows/pr-tofu.yml@v1
    with:
      working-dir: authentik_api,oauth_app